/**--common--**/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.container{
    max-width: 1250px;
    margin: auto;
}
body{
    font-family: "Poppins", sans-serif;;
}




/**--style main--**/
.banner{
    color: white;
    background-color: #161616;
    align-items: center;
    margin: 50px auto;
    border-radius: 15px;
}
.banner{
    padding-left: 45px;
}
.banner h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}
.banner p{
    color: #FFFFFF;
    margin: 15px 0;
    max-width: 75%;
}
.banner-right img{
   display: block; 
}
.btn-praimary{
    font-weight: 600;
    color: white;
    background-color: #DD0000;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}



/***----main section style----***/
.main-section{
    padding: 50px 0;
    gap: 20px;
}
.button{
    background-color: #161616;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    width: 25%;
    gap: 30px;
    height: fit-content;
}
.button .btn-praimary:nth-child(1),
.button .btn-praimary:nth-child(2){
    background-color: white;
    color: black;
}
.button .btn-praimary{
    padding: 30px;
    font-size: 16px;
}

.div-right{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
}

.div-right  .card .btn{
    background-color: white;
    color:  black;
    border: 2px solid black;
    padding: 8px 17px;
    border-radius: 5px;
}
.card-bottom{
    flex: 1;
    gap: 20px;
}

.div-right  .card h2{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.div-right .card img{
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card-body{
    padding: 20px;
}
.div-right .card{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
}
